<section class="genericInfo">
    <div class="wrapper cl">
        {{ render_esi( controller( 'EflWebBundle:Footer:genericInfo',
            {'locationId': location is defined ? location.id : 2  }))
        }}
    </div>
</section>



<section class="quickLinks">
    <div class="wrapper">
        {{ render_esi( controller( 'EflWebBundle:Footer:quickLinks',
        {'locationId': location is defined ? location.id : 2  }))
        }}
    </div>
</section>

<section class="preFooter">
    <div class="wrapper cl">
        <ul class="webmap">
            <li>
                <span>Atención al cliente</span>
                {{ render_esi( controller( 'EflWebBundle:Footer:customerServiceLinks',
                {'locationId': location is defined ? location.id : 2  }))
                }}
            </li>

            <li>
                <span>Productos</span>
                {{ render_esi( controller( 'EflWebBundle:Footer:productLinks',
                {'locationId': location is defined ? location.id : 2  }))
                }}
            </li>

            <li>
                <span>Grupo Francis Lefebvre</span>
                {{ render_esi( controller( 'EflWebBundle:Footer:grupoLinks',
                {'locationId': location is defined ? location.id : 2  }))
                }}
            </li>

        </ul>

        <article class="newsletter">
            <p class="title"><i class="ico ico-mail-black"></i> <span>Newsletter</span></p>
            <p>Suscríbase a nuestro boletín de novedades y recibirá gratis un ebook.</p>
            {{ render_esi( controller( "EflWebBundle:Newsletter:suscriptionBox" )) }}
        </article>

    </div>
</section>

<section class="footer">
    <div class="wrapper">

        <div class="row1 cl">
            <div class="flt">
                <p class="txt">Acceda a los Mementos desde las soluciones</p>
                <img src="{{ asset( "bundles/eflweb/images/logo_sage@2x.png") }}" alt="Logo SAGE" class="logo-sage" />
            </div>

            <div class="frt">

                <article class="payments">
                    <p class="txt">Métodos de pago</p>
                    <ul class="icons">
                        <li><img src="{{ asset( "bundles/eflweb/images/logo_paypal@2x.png") }}" alt="Paypal" class="logo-paypal" /></li>
                        <li><img src="{{ asset( "bundles/eflweb/images/logo_mastercard@2x.png") }}" alt="Mastercard" class="logo-mastercard" /></li>
                        <li><img src="{{ asset( "bundles/eflweb/images/logo_visa@2x.png") }}" alt="Visa" class="logo-visa" /></li>
                        <li><img src="{{ asset( "bundles/eflweb/images/logo_domiciliacion-bancaria@2x.png") }}" alt="Domiciliación bancaria" class="logo-debit" /></li>
                    </ul>
                </article>

                <article class="rrss">
                    <p class="txt">Redes Sociales</p>
                    {{ render_esi( controller( 'EflWebBundle:Footer:rrssLinks',
                    {'locationId': location is defined ? location.id : 2  }))
                    }}
                </article>

            </div>
        </div>

        <div class="row2 cl">
            <div class="flt">
                {{ render_esi( controller( 'EflWebBundle:Footer:auxLinks',
                {'locationId': location is defined ? location.id : 2  }))
                }}
            </div>

            <small class="frt copy">© 2014, EFL. Todos los derechos reservados.</small>
        </div>
    </div>
</section>