{% if title is not defined and content is defined %}
    {% set title = ez_content_name( content ) %}
{% endif %}

{% set default_meta = ez_fezmetadata( 2 ) %}
{% set meta_title = default_meta.title is defined ? default_meta.title : title %}
{% set meta_description = default_meta.description is defined ? default_meta.description : '' %}
{% set meta_keywords = default_meta.keywords is defined ? default_meta.keywords : '' %}

{% if location is defined %}
    {% set meta = ez_fezmetadata( location.contentInfo.id ) %}
    {% set meta_title = meta.title is defined ? meta.title : meta_title %}
    {% set meta_description = meta.description is defined ? meta.description : meta_description %}
    {% set meta_keywords = meta.keywords is defined ? meta.keywords : meta_keywords %}
{% else %}
    {% set meta_title = title %}
{% endif %}
<title>{{ meta_title }}</title>
<meta name="description" content="{{ meta_description }}"/>
<meta name="keywords" content="{{ meta_keywords }}"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="generator" content="eZ Publish"/>

<link rel="Home" href="/" title=" front page"/>
<link rel="Index" href="/"/>
<link rel="Top" href="/" title="{{ title|default( 'Home' ) }}"/>
<link rel="Search" href="/content/advancedsearch" title="Search "/>
<link rel="Shortcut icon" href="/design/standard/images/favicon.ico" type="image/x-icon"/>
<link rel="Copyright" href="/ezinfo/copyright"/>
<link rel="Author" href="/ezinfo/about"/>
<link rel="Alternate" type="application/rss+xml" title="RSS" href="/rss/feed/my_feed"/>

{# adding canonical url for all defined content #}
{% if content is defined %}
    <link rel="canonical" href="{{ path( 'ez_urlalias', {'locationId': content.contentInfo.mainLocationId} ) }}" />
{% endif %}

<script type="text/javascript">
    (function () {
        var head = document.getElementsByTagName('head')[0];
        var printNode = document.createElement('link');
        printNode.rel = 'Alternate';
        printNode.href = "/layout/set/print/content/view/sitemap/2" + document.location.search;
        printNode.media = 'print';
        printNode.title = "Printable version";
        head.appendChild(printNode);
    })();
</script>


