<div class="main">
    {{ render_esi( controller( 'EflWebBundle:Product:getRelatedProductsByOrders', { 'contentId': location.contentInfo.id } )) }}

    {% if tabs|length > 0 %}
        <article id="reviews" class="product-collateral mod-tabs">
            <p class="title6">Más sobre {{ ez_render_field( content, 'nombre') }}</p>

            <span class="tabs-wrap"></span>

            <div class="tabs-wrap-content">
                {% for i,tab in tabs %}
                    <p class="tab {% if i == 0 %}active{% endif %}"><a href="#{{ tab.id }}">{{ tab.label }} <i class="ico"></i></a></p>

                    <div id="{{ tab.id }}" class="tabs-content {% if i == 0 %}active{% endif %}">

                        <article class="release-detail">
                            <div class="wysiwyg">
                                {{ tab.content|raw }}
                            </div>
                        </article>
                    </div>
                {% endfor %}
            </div>
        </article>
    {% endif %}
</div>