<ul>
    <li class="sel"><a href="{{ path( data.mementos_location ) }}">Mementos</a></li>
    <li><a href="{{ path( data.catalog_location ) }}">Catálogo de Publicaciones</a></li>
    <li><a href="{{ path( data.bases_datos_location ) }}">Bases de Datos Jurídicas</a></li>
    <li><a href="{{ path( data.qmemento_location ) }}">qMemento</a></li>
    <li><a href="{{ path( data.imemento_location ) }}">iMemento</a></li>
    <li><a href="{{ path( data.qmementix_location ) }}">qMementix</a></li>
    <li class="reset"><a href="#">Productos Electrónicos</a></li>
</ul>