{% extends "EflWebBundle::pagelayout.html.twig" %}
{% set mainClass = 'iMemento' %}
{% block content %}
<div class="wrapper cl">

    <div class="oneCol">

        <!-- main -->
        <div class="main">

            <article class="highlight cl">
                <div class="content">
                    <span class="badge2"><span class="badge2-text">qMemento</span></span>
                    <p class="super-title">{{ ez_render_field( parentContent, 'title' ) }}</p>
                    <div class="title4">
                        {{ ez_render_field( parentContent, 'text1' ) }}
                    </div>
                    <div class="title7">
                        {{ ez_render_field( parentContent, 'text2' ) }}
                    </div>
                </div>

                <div class="media">
                    {% if not ez_is_field_empty( parentContent, 'url_youtube') %}

                        <div id="preview-video" class="wrap-video">
                            {{ ez_render_field( img, 'image' )}}
                            <a href="{{ ez_render_field( parentContent, 'url_youtube', {'template':'EflWebBundle:fields:only_value.html.twig'} )}}" class="preview-video" title="Ver vídeo">{{ ez_render_field( preview_img, 'image' ) }}</a>
                        </div>
                    {% else %}
                        {{ ez_render_field( img, 'image' )}}
                    {% endif %}
                </div>
            </article>

            <section class="filter-types">
                <span class="menu"><a href="#">Mostrar menú</a></span>
                <div class="wrap-filter">
                    {{ knp_menu_render(menu, {'currentClass': 'active' } )}}
                </div>
            </section>
        </div>
        <!-- //main -->

    </div>
</div>

    <section class="plans">
    <div class="wrapper cl">
    <div class="related-plans">

        {% if versions.0 %}
        <article class="item">
            <p class="title9 upper">qMemento</p>
            <p class="item-title">{{ ez_content_name( versions.0 )|replace({ 'QMemento': '' }) }}</p>

            <div class="intro">
                {% if not ez_is_field_empty(versions.0, 'subtitulo') %}
                <p>{{ ez_render_field( versions.0, 'subtitulo') }}.</p>
                {% endif %}
                <p>Contrate su Memento con todas las fuentes citadas en él.</p>
            </div>

              <span class="btn">
                <a href="#">Pruébelo gratis ahora durante 15 días</a>
              </span>

            <div id="more-item-0" class="more-detail" style="display: none;">
                {% if not ez_is_field_empty(versions.0, 'info1') %}
                <section class="additional-info">
                    <p><b>Información Analítica</b></p>
                    {{ ez_render_field( versions.0, 'info1' ) }}
                </section>
                {% endif %}
                {% if not ez_is_field_empty(versions.0, 'base') %}
                <section class="additional-info bbdd">
                    <p><b>Base jurídica</b></p>
                    {{ ez_render_field( versions.0, 'base' ) }}
                </section>
                {% endif %}


                <span class="btn">
                   <a href="#">Pruébelo gratis ahora durante 15 días</a>
                </span>
            </div>
            <p class="more">
                <a href="#more-item-0" data-open-text="Más Información" data-close-text="Cerrar" data-toggle-icon="ico-close-blue">Más Información</a>
                <i class="ico ico-arrow-bottom-blue"></i>
            </p>

        </article>
        {% endif %}

        {% if versions.1 %}
            <article class="item">
                <p class="title9 upper">qMemento</p>
                <p class="item-title">{{ ez_content_name( versions.1 )|replace({ 'QMemento': '' }) }}</p>

                <div class="intro">
                    {% if not ez_is_field_empty(versions.1, 'subtitulo') %}
                        <p>{{ ez_render_field( versions.1, 'subtitulo') }}.</p>
                    {% endif %}
                    <p>Contrate su Memento con todas las fuentes citadas en él.</p>
                </div>

              <span class="btn">
                <a href="#">Pruébelo gratis ahora durante 15 días</a>
              </span>

                <div id="more-item-0" class="more-detail" style="display: none;">
                    {% if not ez_is_field_empty(versions.1, 'info1') %}
                        <section class="additional-info">
                            <p><b>Información Analítica</b></p>
                            {{ ez_render_field( versions.1, 'info1' ) }}
                        </section>
                    {% endif %}
                    {% if not ez_is_field_empty(versions.1, 'info2') %}
                        <section class="additional-info">
                            <p><b>Información Analítica II</b></p>
                            {{ ez_render_field( versions.1, 'info2' ) }}
                        </section>
                    {% endif %}
                    {% if not ez_is_field_empty(versions.1, 'base') %}
                        <section class="additional-info bbdd">
                            <p><b>Base jurídica</b></p>
                            {{ ez_render_field( versions.1, 'base' ) }}
                        </section>
                    {% endif %}


                    <span class="btn">
                   <a href="#">Pruébelo gratis ahora durante 15 días</a>
                </span>
                </div>
                <p class="more">
                    <a href="#more-item-0" data-open-text="Más Información" data-close-text="Cerrar" data-toggle-icon="ico-close-blue">Más Información</a>
                    <i class="ico ico-arrow-bottom-blue"></i>
                </p>

            </article>
        {% endif %}

        {% if versions.2 %}
            <article class="item">
                <p class="title9 upper">qMemento</p>
                <p class="item-title">{{ ez_content_name( versions.2 )|replace({ 'QMemento': '' }) }}</p>

                <div class="intro">
                    {% if not ez_is_field_empty(versions.2, 'subtitulo') %}
                        <p>{{ ez_render_field( versions.2, 'subtitulo') }}.</p>
                    {% endif %}
                    <p>Contrate su Memento con todas las fuentes citadas en él.</p>
                </div>

              <span class="btn">
                <a href="#">Pruébelo gratis ahora durante 15 días</a>
              </span>

                <div id="more-item-0" class="more-detail" style="display: none;">
                    {% if not ez_is_field_empty(versions.2, 'info1') %}
                        <section class="additional-info">
                            <p><b>Información Analítica</b></p>
                            {{ ez_render_field( versions.2, 'info1' ) }}
                        </section>
                    {% endif %}
                    {% if not ez_is_field_empty(versions.2, 'info2') %}
                        <section class="additional-info">
                            <p><b>Información Analítica II</b></p>
                            {{ ez_render_field( versions.2, 'info2' ) }}
                        </section>
                    {% endif %}
                    {% if not ez_is_field_empty(versions.2, 'info3') %}
                        <section class="additional-info">
                            <p><b>Información Analítica III</b></p>
                            {{ ez_render_field( versions.2, 'info3' ) }}
                        </section>
                    {% endif %}
                    {% if not ez_is_field_empty(versions.2, 'base') %}
                        <section class="additional-info bbdd">
                            <p><b>Base jurídica</b></p>
                            {{ ez_render_field( versions.2, 'base' ) }}
                        </section>
                    {% endif %}


                    <span class="btn">
                   <a href="#">Pruébelo gratis ahora durante 15 días</a>
                </span>
                </div>
                <p class="more">
                    <a href="#more-item-0" data-open-text="Más Información" data-close-text="Cerrar" data-toggle-icon="ico-close-blue">Más Información</a>
                    <i class="ico ico-arrow-bottom-blue"></i>
                </p>

            </article>
        {% endif %}

        {% if versions.3 is defined%}
            <article class="item">
                <p class="title9 upper">qMemento</p>
                <p class="item-title">{{ ez_content_name( versions.3 )|replace({ 'QMemento': '' }) }}</p>

                <div class="intro">
                    {% if not ez_is_field_empty(versions.3, 'subtitulo') %}
                        <p>{{ ez_render_field( versions.3, 'subtitulo') }}.</p>
                    {% endif %}
                    <p>Contrate su Memento con todas las fuentes citadas en él.</p>
                </div>

              <span class="btn">
                <a href="#">Pruébelo gratis ahora durante 15 días</a>
              </span>

                <div id="more-item-0" class="more-detail" style="display: none;">
                    {% if not ez_is_field_empty(versions.3, 'info1') %}
                        <section class="additional-info">
                            <p><b>Información Analítica</b></p>
                            {{ ez_render_field( versions.3, 'info1' ) }}
                        </section>
                    {% endif %}
                    {% if not ez_is_field_empty(versions.3, 'info2') %}
                        <section class="additional-info">
                            <p><b>Información Analítica II</b></p>
                            {{ ez_render_field( versions.3, 'info2' ) }}
                        </section>
                    {% endif %}
                    {% if not ez_is_field_empty(versions.3, 'info3') %}
                        <section class="additional-info">
                            <p><b>Información Analítica III</b></p>
                            {{ ez_render_field( versions.3, 'info3' ) }}
                        </section>
                    {% endif %}
                    {% if not ez_is_field_empty(versions.3, 'base') %}
                        <section class="additional-info bbdd">
                            <p><b>Base jurídica</b></p>
                            {{ ez_render_field( versions.3, 'base' ) }}
                        </section>
                    {% endif %}


                    <span class="btn">
                   <a href="#">Pruébelo gratis ahora durante 15 días</a>
                </span>
                </div>
                <p class="more">
                    <a href="#more-item-0" data-open-text="Más Información" data-close-text="Cerrar" data-toggle-icon="ico-close-blue">Más Información</a>
                    <i class="ico ico-arrow-bottom-blue"></i>
                </p>

            </article>
        {% endif %}



    </div>

    </div>
    </section>

{% endblock %}

{% block footerScript %}
    {% javascripts
    '@EflWebBundle/Resources/public/js/jquery.columnizer.js'
    %}
<!--[if lte IE 9]>
    <script type="text/javascript" src="{{ asset_url }}"></script>
<![endif]-->
    {% endjavascripts %}
    {{ parent() }}
{% endblock %}
