{% extends "EflWebBundle::pagelayout.html.twig" %}
{% set title = 'QMementix'|trans %}
{% set mainClass = 'iMemento' %}
{% block content %}
<div class="wrapper cl">

    <div class="oneCol">

        <!-- main -->
        <div class="main">

            <article class="highlight cl">
                <div class="content">
                    <span class="badge2"><span class="badge2-text">iMemento</span></span>
                    <p class="super-title">{{ ez_render_field( content, 'title' ) }}</p>
                    <div class="title4">
                        {{ ez_render_field( content, 'text1' ) }}
                    </div>
                    <div class="title7">
                        {{ ez_render_field( content, 'text2' ) }}
                    </div>

                    <div class="call-to-action">
                        <span class="claim"><a href="#" class="ask-test">Pruebe gratis durante 15 días</a> o</span>
                        <button type="button" class="btn type2 hasIco twoLines"><i class="ico ico-arrow-right-white"></i> Seleccionar Mementos <small> para qMementix</small></button>

                        <article class="wrap-frm-test">
                            {% form_theme form 'EflWebBundle:forms/leads:form.html.twig' %}
                            {{ form_start(form, {'attr': {'novalidate':'novalidate', 'class': 'frm-test cl' }}) }}
                                <fieldset>
                                    <legend class="title-form">Solicite una prueba gratis y sin compromiso.</legend>

                                    {{ form_row( form.nombre,  { 'id': 'name'} ) }}

                                    {{ form_row( form.apellido1, { 'id': 'surname' } ) }}

                                    {{ form_row( form.apellido2, { 'id': 'surname2' } ) }}

                                    {{ form_row( form.phone, { 'id': 'phone' } ) }}

                                    {{ form_row( form.email, { 'id': 'email' } ) }}

                                    {{ form_row( form.cp, { 'id': 'cp' } ) }}

                                    {{ form_row( form.conditions, { 'id': 'legal' } ) }}
                                </fieldset>

                            {{ form_row( form.send ) }}

                            {{ form_end(form) }}
                        </article>
                    </div>

                </div>

                <div class="media">
                    {% if not ez_is_field_empty( content, 'url_youtube') %}

                    <div id="preview-video" class="wrap-video">
                        {{ ez_render_field( img, 'image' )}}
                        <a href="{{ ez_render_field( content, 'url_youtube', {'template':'EflWebBundle:fields:only_value.html.twig'} )}}" class="preview-video" title="Ver vídeo">{{ ez_render_field( preview_img, 'image' ) }}</a>
                    </div>
                    {% else %}
                        {{ ez_render_field( img, 'image' )}}

                    {% endif %}

                </div>
            </article>


            <section class="benefits">
                {{ ez_render_field(content, 'ventajas') }}
            </section>
            <section class="appMarket">
                <a href="{{ ez_render_field(content, 'url_appstore', {'template':'EflWebBundle:fields:only_value.html.twig'} ) }}"><img src="{{ asset ("bundles/eflweb/images/appstore@2x.png")}}" alt="" class="appMarket-img"></a>
            </section>

            {% if testimonios|length %}
            <section class="statements threeCols">
                {% for testimonio in testimonios %}
                <article class="statement-detail">
                    <div class="layer">
                        {{ ez_render_field( testimonio.content, 'testimonio') }}
                    </div>

                    <div class="authoring">
                        {{ ez_render_field( testimonio.imgObject, 'image', {'parameters': { 'alias': 'foto_testimonio'} } ) }}
                        <p class="author">{{ ez_render_field( testimonio.content, 'nombre_persona') }}</p>
                    </div>

                </article>
                    {% endfor %}


            </section>
            {% endif %}


        </div>
        <!-- //main -->

    </div>
</div>

<!-- features -->
<article id="features" class="features mod-tabs">

    <span class="tabs-wrap"></span>

    <div class="tabs-wrap-content">
        {%  if not ez_is_field_empty( content, 'contenido' ) %}
            <p class="tab active"><a href="#features-content">Condiciones de la suscripción <i class="ico"></i></a></p>
            <div id="features-content" class="tabs-content active">
                <article class="features-detail">
                    <div class="wysiwyg layout-3cols">
                        {{ ez_render_field(content, 'contenido') }}
                    </div>
                </article>
            </div>
        {% endif %}

        {% if not ez_is_field_empty( content, 'contenidos' ) %}
            <p class="tab active"><a href="#features-contents">Condiciones <i class="ico"></i></a></p>
            <div id="features-contents" class="tabs-content active">
                <article class="features-detail">
                    <div class="wysiwyg layout-3cols">
                        {{ ez_render_field(content, 'contenido') }}
                    </div>
                </article>
            </div>
        {% endif %}
        {% if not ez_is_field_empty( content, 'funcionalidades' ) %}
            <p class="tab"><a href="#features-functionalities">Funcionalidades <i class="ico"></i></a></p>
            <div id="features-functionalities" class="tabs-content">
                <article class="features-detail">
                    <div class="wysiwyg layout-3cols">
                        {{ ez_render_field(content, 'funcionalidades') }}
                    </div>
                </article>
            </div>
        {% endif %}
        {% if not ez_is_field_empty( content, 'faqs_producto' ) %}
            <p class="tab"><a href="#features-faq">Preguntas frecuentes <i class="ico"></i></a></p>
            <div id="features-faq" class="tabs-content">
                <article class="features-detail">
                    <div class="wysiwyg layout-3cols">
                        {% if faqs|length > 0 %}
                            <ul>
                        {% for faq in faqs %}
                                <li><a href="#faq_{{ faq.id }}">{{ ez_content_name(faq ) }}</a></li>
                        {% endfor %}
                            </ul>

                            {% for faq in faqs %}
                                <div class="faq" id="faq_{{ faq.id }}">
                                    <div class="faq-title"><strong>{{ ez_content_name( faq ) }}</strong></div>
                                    <div class="faq-content">
                                        {{ ez_render_field( faq, 'texto_respuesta' ) }}
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </article>
            </div>
        {% endif %}
    </div>

</article>
{% endblock %}
