<article class="item">
    {% if not ez_is_field_empty( product.image, 'image') %}
        <div class="portrait">
            {{ ez_render_field( product.image, 'image', {
            'template':'EflWebBundle:fields:portrait_img.html.twig',
            'parameters': {
            'alias':'relatedByOrders',
            'attrs': {'class':'portrait-img'}
            }
            }) }}
        </div>
    {% endif %}

    <div class="content cl">
        {% if formats|length %}
            <ul class="format">
                {% for format in formats %}
                    <li><i class="ico ico-{{ format.data.icon }}-white"></i> <span class="offscreen">{{ format.data.literal }}</span></li>
                {% endfor %}
            </ul>
        {% endif %}

        <p class="title9 upper">{{ ez_render_field(product.parent, 'name') }}</p>
        <p class="item-title">{{ ez_render_field( product.content, 'nombre' ) }}</p>
        {% if hasDiscount %}
            <p class="item-claim">{{ ez_render_field(product.content, 'texto_oferta') }}</p>
        {% endif %}
        {% if formats|length %}
            {{ render_esi(controller("EflWebBundle:Price:showPrice", {'contentId': formats['formato_ipad'].content.id, 'twigTemplate':'line'} )) }}
        {% endif %}
    </div>

    {% if formats|length %}
        <div class="actions-item">
            {% if alreadyInBasket %}
            <i class="ico ico-check-green"></i>
            <a href="#" class="remove"><span>Quitar</span> <i class="ico ico-close-red"></i></a>
            {% else %}
            <span class="btn">
                <a href="#">Añadir</a>
            </span>
            {% endif %}
        </div>
    {% endif %}
</article>