{% extends "EflWebBundle::pagelayout.html.twig" %}

{% block content %}
    <div class="wrapper cl">
    {% set subscriptionDone = app.session.flashbag.get("notice") %}

    {% if (subscriptionDone is not empty) %}
        <div class="wysiwyg subscription_newsletter ok">
        {{ "<p >El formulario se ha enviado correctamente.</p>
        <p>En breve recibira un email a la dirección que nos ha proporcionado. Para activar su suscripción deberá confirmar el email que le hemos enviado.</p>"|trans|raw}}
        </div>

    {% else %}



        <div class="twoColsB">
            <div class="main">

                <article class="highlight cl">
                    <div class="content">
                        <p class="super-title">Suscríbase a nuestro boletín de novedades.</p>
                        <p class="title4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </article>

                {% form_theme form 'EflWebBundle:forms/newsletter:subscription.html.twig' %}

                {{ form_start(form, {'attr': {'novalidate':'novalidate', 'class': 'frm frm-newsletter' }}) }}
                {{ form_row( form.email ) }}

                <fieldset>
                    <legend class="offscreen">Indique sus datos personales</legend>
                    {{ form_row( form.Subscription_FirstName ) }}
                    {{ form_row( form.Subscription_LastName ) }}
                    {{ form_row( form.Subscription_LastName_2 ) }}
                </fieldset>

                <fieldset>
                    <legend class="offscreen">Otros datos de contacto</legend>
                    {{ form_row( form.cp ) }}
                    {{ form_row( form.phone ) }}
                </fieldset>

                {{ form_row( form.job ) }}

                <fieldset>
                    {{ form_row( form.areas ) }}
                </fieldset>

                {{ form_end( form) }}
            </div>

            <div class="aside">
                {{ render_esi( controller( "EflWebBundle:Aside:contact" )) }}
            </div>
        </div>

    {% endif %}
    </div>
{% endblock %}