{% extends "EflWebBundle::pagelayout.html.twig" %}
{% set title = 'QMementix'|trans %}
{% set mainClass = 'iMemento' %}
{% block content %}
<div class="wrapper cl">

    <div class="oneCol">

        <!-- main -->
        <div class="main">

            <article class="highlight cl">
                <div class="content">
                    <span class="badge2"><span class="badge2-text">qMementix</span></span>
                    <p class="super-title">{{ ez_render_field( content, 'title' ) }}</p>
                    <div class="title4">
                        {{ ez_render_field( content, 'text1' ) }}
                    </div>
                    <div class="title7">
                        {{ ez_render_field( content, 'text2' ) }}
                    </div>
                </div>

            </article>


            <section class="benefits cl">
                <article class="benefit-detail-2">
                    {{ ez_render_field(content, 'ventajas', {'template':'EflWebBundle:fields:only_value.html.twig'}) }}
                </article>
            </section>

            {% if testimonios|length %}
            <section class="statements threeCols">
                {% for testimonio in testimonios %}
                <article class="statement-detail">
                    <div class="layer">
                        {{ ez_render_field( testimonio.content, 'testimonio') }}
                    </div>

                    <div class="authoring">
                        {{ ez_render_field( testimonio.imgObject, 'image', {'parameters': { 'alias': 'foto_testimonio'} } )|raw }}
                        <p class="author">{{ ez_render_field( testimonio.content, 'nombre_persona') }}</p>
                    </div>

                </article>
                    {% endfor %}


            </section>
            {% endif %}


        </div>
        <!-- //main -->

    </div>
</div>

<!-- features -->
<article id="features" class="features mod-tabs">

    <span class="tabs-wrap"></span>

    <div class="tabs-wrap-content">
        {%  if not ez_is_field_empty( content, 'contenido' ) %}
        <p class="tab active"><a href="#features-content">Condiciones de la suscripción <i class="ico"></i></a></p>
        <div id="features-content" class="tabs-content active">
            <article class="features-detail">
                <div class="wysiwyg layout-3cols">
                    {{ ez_render_field(content, 'contenido') }}
                </div>
            </article>
        </div>
        {% endif %}

        {% if not ez_is_field_empty( content, 'contenidos' ) %}
            <p class="tab active"><a href="#features-contents">Condiciones <i class="ico"></i></a></p>
            <div id="features-contents" class="tabs-content active">
                <article class="features-detail">
                    <div class="wysiwyg layout-3cols">
                        {{ ez_render_field(content, 'contenido') }}
                    </div>
                </article>
            </div>
        {% endif %}
        {% if not ez_is_field_empty( content, 'funcionalidades' ) %}
            <p class="tab"><a href="#features-functionalities">Funcionalidades <i class="ico"></i></a></p>
            <div id="features-functionalities" class="tabs-content">
                <article class="features-detail">
                    <div class="wysiwyg layout-3cols">
                        {{ ez_render_field(content, 'funcionalidades') }}
                    </div>
                </article>
            </div>
        {% endif %}

    </div>

</article>
{% endblock %}

{% block footerScript %}
    {% javascripts
    '@EflWebBundle/Resources/public/js/jquery.columnizer.js'
    %}
<!--[if lte IE 9]>
    <script type="text/javascript" src="{{ asset_url }}"></script>
<![endif]-->
    {% endjavascripts %}
    {{ parent() }}
{% endblock %}
