{% extends "EflWebBundle::pagelayout.html.twig" %}

{% block content %}
    <div class="wrapper cl">

        <div class="twoColsB">
            <div class="main">

                <article class="highlight cl">
                    <div class="content">
                        <p class="title3"><b>Preguntas frecuentes</b></p>
                    </div>
                </article>

                {% form_theme form 'EflWebBundle:forms/faqs:groups.html.twig' %}

                {{ form_start(form, {'attr': {'novalidate':'novalidate', 'class': 'frm frm-faq' }}) }}
                {{ form_row( form.group ) }}
                {{ form_end( form) }}
                {#

                <form action="EFL_preguntas_frecuentes_envios.html" method="post" class="frm frm-faq">

                    <label for="question" class="field row">
                        <span class="lbl">Seleccione el tipo de preguntas que desea consultar:</span>
                        <select id="question" name="question">
                            <option value=""></option>
                            <option value="1">Envíos</option>
                            <option value="2">FAQ 2</option>
                            <option value="3">FAQ 3</option>
                            <option value="4">FAQ 4</option>
                        </select>
                    </label>

                    <div class="right offscreen">
                        <button type="button" class="btn type2 hasIco"><i class="ico ico-arrow-right-white"></i> Enviar Suscripción</button>
                    </div>

                </form>

                #}

            </div>

            <div class="aside">
                {{ render_esi( controller( "EflWebBundle:Aside:contact" )) }}
            </div>
        </div>

    </div>

    <section class="customerServices">
        <div class="wrapper cl">

            <article class="customerServices-detail payments">
                <p class="txt">Métodos de pago</p>
                <div class="intro">
                    <p>Disponemos de una certificación SSL que garantiza que sus datos y transacciones siempre estarán seguros.</p>
                </div>
                <ul class="icons">
                    <li><img src="{{ asset( "bundles/eflweb/images/logo_paypal@2x.png" )}}" alt="Paypal" class="logo-paypal"></li>
                    <li><img src="{{ asset( "bundles/eflweb/images/logo_mastercard@2x.png" )}}" alt="Mastercard" class="logo-mastercard"></li>
                    <li><img src="{{ asset( "bundles/eflweb/images/logo_visa@2x.png" )}}" alt="Visa" class="logo-visa"></li>
                    <li><img src="{{ asset( "bundles/eflweb/images/logo_domiciliacion-bancaria@2x.png" )}}" alt="Domiciliación bancaria" class="logo-debit"></li>
                </ul>
            </article>

            <article class="customerServices-detail shipping">
                <p class="txt">Envío y Devoluciones</p>
                <div class="intro">
                    <p>Le damos todas las facilidades para comprar nuestros producto, envío gratis a partir de 30€ y período de devolución de dos meses si no queda satisfecho.</p>
                </div>
                <ul>
                    <li><i class="ico ico-arrow-right-blue"></i> <a href="{{ path( 'ez_urlalias', {'locationId': efl_contacto_location_id} ) }}">Contacta con nosotros</a></li>
                    <li><i class="ico ico-arrow-right-blue"></i> <a href="{{ path(location) }}">Preguntas frecuentes</a></li>
                </ul>
            </article>

        </div>
    </section>
{% endblock %}