{% extends "EflWebBundle::pagelayout.html.twig" %}

{% block content %}
    <div class="wrapper cl">

        <div class="twoColsB">
            <div class="main">

                <article class="highlight cl">
                    <div class="content">
                        <p class="title3"><b>Preguntas frecuentes</b></p>
                    </div>
                </article>

                {% form_theme form 'EflWebBundle:forms/faqs:groups.html.twig' %}

                {{ form_start(form, {'attr': {'id': 'faqs-groups', 'novalidate':'novalidate', 'class': 'frm frm-faq' }}) }}
                {{ form_row( form.group ) }}
                {{ form_end( form) }}
                <!-- faqs -->
                {% if questions|length %}
                <article class="faqs-wrapper mod-tabs">

                    <p class="faq-detail-title"><b>{{ ez_render_field( content, 'nombre') }}</b></p>
                    <ul class="faq-detail-summary">
                        {% for question in questions %}
                        <li><i class="ico ico-arrow-right-blue"></i> <a href="#faq-detail-{{ question.id }}">{{ ez_render_field( question, 'texto_pregunta', {'template':'EflWebBundle:fields:only_value.html.twig'})|striptags }}</a></li>
                        {% endfor %}
                    </ul>

                    {% for question in questions %}
                    <article id="faq-detail-{{ question.id }}" class="faq-detail">
                        <p class="tab faq-detail-title"><a href="#faq-detail-0-content">{{ ez_render_field( question, 'texto_pregunta')|striptags }}</a> <i class="ico ico-arrow-top-gray"></i></p>
                        <div id="faq-detail-0-content" class="tabs-content">
                            <div class="wysiwyg">
                                {{ ez_render_field( question, 'texto_respuesta', {'template':'EflWebBundle:fields:only_value.html.twig'}) }}
                            </div>
                            <p class="up right"><i class="ico ico-arrow-top-blue"></i> <a href="#frm-top">Subir</a></p>
                        </div>
                    </article>
                    {% endfor %}

                </article>
                <!-- //faqs -->
                {% endif %}

            </div>

            <div class="aside">
                {{ render_esi( controller( "EflWebBundle:Aside:contact" )) }}
            </div>
        </div>

    </div>

    <section class="customerServices">
        <div class="wrapper cl">

            <article class="customerServices-detail payments">
                <p class="txt">Métodos de pago</p>
                <div class="intro">
                    <p>Disponemos de una certificación SSL que garantiza que sus datos y transacciones siempre estarán seguros.</p>
                </div>
                <ul class="icons">
                    <li><img src="{{ asset( "bundles/eflweb/images/logo_paypal@2x.png" )}}" alt="Paypal" class="logo-paypal"></li>
                    <li><img src="{{ asset( "bundles/eflweb/images/logo_mastercard@2x.png" )}}" alt="Mastercard" class="logo-mastercard"></li>
                    <li><img src="{{ asset( "bundles/eflweb/images/logo_visa@2x.png" )}}" alt="Visa" class="logo-visa"></li>
                    <li><img src="{{ asset( "bundles/eflweb/images/logo_domiciliacion-bancaria@2x.png" )}}" alt="Domiciliación bancaria" class="logo-debit"></li>
                </ul>
            </article>

            <article class="customerServices-detail shipping">
                <p class="txt">Envío y Devoluciones</p>
                <div class="intro">
                    <p>Le damos todas las facilidades para comprar nuestros producto, envío gratis a partir de 30€ y período de devolución de dos meses si no queda satisfecho.</p>
                </div>
                <ul>
                    <li><i class="ico ico-arrow-right-blue"></i> <a href="{{ path( 'ez_urlalias', {'locationId': efl_contacto_location_id} ) }}">Contacta con nosotros</a></li>
                    <li><i class="ico ico-arrow-right-blue"></i> <a href="{{ path(location) }}">Preguntas frecuentes</a></li>
                </ul>
            </article>

        </div>
    </section>
{% endblock %}

{% block footerScript %}
    <script>
    $( document ).ready(function() {
        $("#faqs-groups").find( 'select').bind( 'change', function(){
           $(this).parents('form').eq(0).submit();
        });
    });
   </script>
{% endblock %}