{% extends "EflWebBundle::pagelayout.html.twig" %}
{% set mainClass='product-sheet' %}
{% block content %}
    <div class="wrapper cl">

    <div class="twoCols">
    <!-- item -->
    <article class="articleItem">

    <!-- main -->
    <div class="main">
        {{ render_esi( controller( 'EflWebBundle:Product:leftPart', {'locationId':location.id, 'viewType': viewType } ) ) }}

        {{ render_esi( controller( 'EflWebBundle:Product:centerPart', {'locationId':location.id, 'viewType': viewType } ) ) }}
    </div>
    <!-- //main -->

    <!-- aside -->
    <aside class="aside">
        {% if hasResume %}
            <div class="resume">
                {% if not ez_is_field_empty( content, 'texto_oferta' ) %}
                    <span class="claim">{{ ez_render_field( content, 'texto_oferta', {'template':'EflWebBundle:fields:only_value.html.twig'}) }}</span>
                {% endif %}

                {{ render(controller("EflWebBundle:Price:showPrice", {'contentId': content.id, 'twigTemplate':'editorial'} )) }}
            </div>
        {% endif %}
        {% if formats is defined %}
            {% form_theme form 'EflBasketBundle:forms:addtobasket.html.twig' %}
            {{ form_start(form, {'attr': {'novalidate':'novalidate' }}) }}
        <table class="tb-formats">
            <caption class="title">{{ ez_render_field( content, 'nombre' ) }}</caption>

            <thead>
            <tr>
                <th>Formato</th>
                <th>Precio</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            {% if not form.vars.valid %}
                <tr>
                    <td colspan="3">{{ form_errors( form.formats ) }}</td>
                </tr>
            {% endif %}
            {% set n = 0 %}
            {% for format in formats %}
                <tr>
                    <td class="format">
                        <i class="ico ico-{{ format.data.icon }}-white"></i> <span>{{ format.data.literal }}</span>
                    </td>
                    <td class="price">
                        {{ render(controller("EflWebBundle:Price:showPrice", {'contentId': format.content.id, 'twigTemplate':'product_format'} )) }}
                    </td>
                    <td>
                        {{ form_widget(form.formats[n] ) }}
                    </td>
                </tr>
                {% if not ez_is_field_empty( format.content, 'textoAux1' ) %}
                    <tr class="text">
                        <td colspan="3" class="wrap-info-text">
                            <div class="info-text">
                                {{ ez_render_field( format.content, 'textoAux1', {'template':'EflWebBundle:fields:only_value.html.twig'} ) }}
                            </div>
                            <div class="wrap-layer">
                                <i class="ico ico-arrow-top-layer"></i>
                                <div class="layer">
                                    <a href="#" class="close" title="Cerrar"><i class="ico ico-close-gray"></i> <span class="offscreen">Cerrar</span></a>
                                    <p class="layer-title">{{ format.data.titleInfo }}</p>
                                    {{ ez_render_field( format.content, 'textoAux2', {'template':'EflWebBundle:fields:only_value.html.twig'} ) }}
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endif %}
                {% set n = n +1 %}
            {% endfor %}


            </tbody>
        </table>


            {{ form_widget( form.buy ) }}


        {{ form_end( form) }}

        <article class="genericInfo-detail">
            <i class="ico ico-box-gray"></i>
            <div class="cont-text">
                <p class="title">Comprando ahora mismo <br /> <b>lo enviamos gratis</b></p>
            </div>
        </article>
        {% endif %}
    </aside>
    <!-- //aside -->

    {%  if viewType == 'full' %}
        {{ render_esi( controller( 'EflWebBundle:Product:downPart', {'locationId':location.id, 'viewType': viewType } ) ) }}
    {% endif %}
    </article>
    <!-- //item -->

    </div>
    </div>
{% endblock %}


{% block footerScript %}
    {% javascripts
    '@EflWebBundle/Resources/public/js/jquery.fancybox.pack.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {{ parent() }}
    <script  type="text/javascript">
        (function( $ )
        {
            $( document ).ready(function() {
                $(document).on('click', '.pagination a', function(e){
                    e.preventDefault();
                    var aux = $(this).attr('href').split('/');
                    var locationId = aux[2];
                    var page = aux[4] ? aux[4] : 1;
                    loadResults(locationId, page )
                });

                $( document ).on( 'click', '.info-text a', function(e){
                    e.preventDefault();
                    var layer = $(this).parent().parent().next("div"),
                            position = $(this).position(),
                            _l = position.left,
                            _t = position.top,
                            _w = $(this).outerWidth(),
                            _h = $(this).outerHeight(),
                            _zI = 100;

                    var $ico = $( $(this).parent().next("div") ).find( '.ico-arrow-top-layer' ),
                            _wI = $ico.outerWidth(),
                            _hI = $ico.outerHeight();

                    $( '.wrap-layer' ).fadeOut( 200 );
                    $( layer ).find('.layer').css({
                        'top' : _t + _h + _hI
                    });
                    $( layer ).fadeIn( 200 );



                    $ico.css({
                        'display' : 'inline-block',
                        'position' : 'absolute',
                        'top' : _t + _h,
                        'left' : (_l + (_w / 2)) - (_wI / 2) //Left of layer-trigger + half of width and minus half of icon width
                    })
                });

                $( document ).on( 'click', '.layer .close', function(e){
                    e.preventDefault();
                    $(this).parent().parent().fadeOut( 200 );
                })
            });

            function loadResults(locationId, page)
            {
                $.ajax({
                    url: '/reviews/'+ locationId + '/page/' + page,
                    method: 'POST',
                    success: function(content) {$("#content-tab-reviews").html(content)}
                })
            }
        })(jQuery);
    </script>
{% endblock %}

{% block headStyle %}
    {% stylesheets
    'bundles/eflweb/css/jquery.fancybox.css'
    filter='cssrewrite'
    %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}"/>
    {% endstylesheets %}
    {{ parent() }}
{% endblock %}