{% extends "EflWebBundle::pagelayout.html.twig" %}
{% set mainClass='product-sheet' %}
{% block content %}
    {{ ez_render_field( content, 'precio' ) }}
    <div class="wrapper cl">

    <div class="twoCols">
    <!-- item -->
    <article class="articleItem">

    <!-- main -->
    <div class="main">
        {{ render_esi( controller( 'EflWebBundle:Product:leftPart', {'locationId':location.id, 'viewType': viewType } ) ) }}

        <div class="main-content">
            <p class="title9 upper">{{ ez_render_field( parentContent, 'name') }}</p>
            <p class="title5">{{ ez_render_field( content, 'nombre') }}</p>
            <div class="utils cl">
                <span class="reviews-link"><i class="ico ico-star-gray"></i> {% if nValoraciones > 0 %}<a href="#reviews">{% transchoice nValoraciones from "product" %}{1} 1 valoración|]1,Inf] %nValoraciones% valoraciones{% endtranschoice %}</a>{% endif %}</span>
                {% if not haVotado %}
                <a href="{{ path( 'create_review', {'locationId': location.id}) }}" class="link-btn addReview fancybox" data-fancybox-type="iframe">Valora este memento</a>
                {% else %}
                    <span class="link-btn">Ya has revisado este producto</span>
                {% endif %}

                <div class="rrss">
                    <span>Compartir </span>
                    {{ socialButtons() }}
                </div>
            </div>
            {% if viewType == 'full' %}
            <div class="wysiwyg">
                {{ ez_render_field( content, 'entradilla', {'template':'EflWebBundle:fields:only_value.html.twig'} ) }}
                {% if not ez_is_field_empty( content, 'mas_info') %}
                <p class="more"><i class="ico ico-arrow-right-blue"></i> <a href="#more-item">Más detalles sobre el memento</a> <i class="ico ico-arrow-bottom-blue"></i></p>

                <div id="more-item" class="more-detail" style="display: none;">
                    {{ ez_render_field( content, 'mas_info', {'template':'EflWebBundle:fields:only_value.html.twig'} ) }}
                </div>
                {% endif %}

                {% if not ez_is_field_empty( content, 'claim') %}
                <blockquote>
                    <i>"{{ ez_render_field( content, 'claim' ) }}"</i>
                </blockquote>
                {% endif %}
            </div>

            <div class="card">
                <p class="title">Ficha</p>
                <ul>
                    {% if not ez_is_field_empty( content, 'edicion' ) %}
                    <li><b>Edición:</b> {{ ez_render_field( content, 'edicion' ) }}</li>
                    {% endif %}
                    <li><b>Páginas:</b> {{ ez_render_field( content, 'paginas' ) }} <abbr title="aproximadamente">aprox.</abbr></li>
                    {% if not ez_is_field_empty( content, 'fecha_aparicion' ) %}
                    <li><b>Aparición:</b> {{  fecha_aparicion.date|date("d/m/y") }}</li>
                    {% endif %}
                    {% if not ez_is_field_empty( content, 'fecha_aparicion' ) %}
                    <li><b><abbr title="International Standard Book Number">ISBN</abbr>:</b> {{ ez_render_field( content, 'isbn' ) }}</li>
                    {% endif %}
                </ul>
            </div>
            {% elseif viewType == 'preview' %}
                <div class="right back"><i class="ico ico-arrow-left-blue"></i> <a href="{{ path( location ) }}">Volver</a></div>

                <p class="subtitle">Previsualización</p>

                <div class="wysiwyg">
                    {{ ez_render_field( content, 'preview') }}
                </div>

                <div class="right back"><i class="ico ico-arrow-left-blue"></i> <a href="{{ path( location ) }}">Volver</a></div>
            {% elseif viewType == 'summary' %}
                <div class="right back"><i class="ico ico-arrow-left-blue"></i> <a href="{{ path( location ) }}">Volver</a></div>

                <p class="subtitle">Sumario</p>

                <div class="wysiwyg">
                    {{ ez_render_field( content, 'sumario') }}
                </div>

                <div class="right back"><i class="ico ico-arrow-left-blue"></i> <a href="{{ path( location ) }}">Volver</a></div>
            {% endif %}

        </div>
    </div>
    <!-- //main -->

    <!-- aside -->
    <aside class="aside">
        {{ render_esi( controller( 'EflWebBundle:Product:rightPart', {'locationId':location.id } ) ) }}
    </aside>
    <!-- //aside -->

    {%  if viewType == 'full' %}
    <div class="main">
        {{ render_esi( controller( 'EflWebBundle:Product:getRelatedProductsByOrders', { 'contentId': location.contentInfo.id } )) }}

    {% if tabsInfo.activeTab != 0 %}
    <article id="reviews" class="product-collateral mod-tabs">
        <p class="title6">Más sobre {{ ez_render_field( content, 'nombre') }}</p>

        <span class="tabs-wrap"></span>

        <div class="tabs-wrap-content">
            {% if tabsInfo.hasTab1 %}
            <p class="tab {% if tabsInfo.activeTab == 1 %}active{% endif %}"><a href="#content-tab-release">Novedades <i class="ico"></i></a></p>

            <div id="content-tab-release" class="tabs-content {% if tabsInfo.activeTab == 1 %}active{% endif %}">
                <div class="utils cl">
                    <span class="reviews-link">Entre otras muchas novedades analizadas en esta nueva edición destacan las que afectan a las siguientes materias:</span>
                </div>
                <article class="release-detail">
                    <div class="wysiwyg">
                        {{ ez_render_field( content, 'novedades') }}
                    </div>
                </article>
            </div>
            {% endif %}

            {% if tabsInfo.sistemaMemento %}
            <p class="tab {% if tabsInfo.activeTab == 2 %}active{% endif %}"><a href="#content-tab-memento">Sistema Memento <i class="ico"></i></a></p>
            <div id="content-tab-memento" class="tabs-content {% if tabsInfo.activeTab == 2 %}active{% endif %}">
                <p class="title10">Sistema Memento</p>
                <article class="release-detail">
                    <div class="wysiwyg">
                        <p class="title9 upper">{{ ez_render_field( tabsInfo.sistemaMemento.content, 'titulo') }}</p>
                        {{ ez_render_field( tabsInfo.sistemaMemento.image, 'image', {
                        'template':'EflWebBundle:fields:portrait_img.html.twig',
                        'parameters': {
                        'alias':'portrait',
                        'attrs': {'class':'portrait-img'}
                        }} ) }}
                        {{ ez_render_field( tabsInfo.sistemaMemento.content, 'texto', {template: 'EflWebBundle:fields:only_value.html.twig'}) }}
                    </div>
                </article>
            </div>
            {% endif %}

            {% if tabsInfo.reviews %}
            <p class="tab {% if tabsInfo.activeTab == 3 %}active{% endif %}"><a href="#content-tab-reviews">Valoración <i class="ico"></i></a></p>
            <div id="content-tab-reviews" class="tabs-content {% if tabsInfo.activeTab == 3 %}active{% endif %}">

                {{ render( controller( 'EflReviewsBundle:Reviews:pager', {'locationId':location.id } )) }}
            {% endif %}

            </div>

        </div>

    </article>
    {% endif %}
    </div>
    {% endif %}
    </article>
    <!-- //item -->

    </div>
    </div>
{% endblock %}


{% block footerScript %}
    {% javascripts
    '@EflWebBundle/Resources/public/js/jquery.fancybox.pack.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {{ parent() }}
    <script  type="text/javascript">
        (function( $ )
        {
            $( document ).ready(function() {
                $(document).on('click', '.pagination a', function(e){
                    e.preventDefault();
                    var aux = $(this).attr('href').split('/');
                    var locationId = aux[2];
                    var page = aux[4] ? aux[4] : 1;
                    loadResults(locationId, page )
                });
            });

            function loadResults(locationId, page)
            {
                $.ajax({
                    url: '/reviews/'+ locationId + '/page/' + page,
                    method: 'POST',
                    success: function(content) {$("#content-tab-reviews").html(content)}
                })
            }
        })(jQuery);
    </script>
{% endblock %}

{% block headStyle %}
    {% stylesheets
    'bundles/eflweb/css/jquery.fancybox.css'
    filter='cssrewrite'
    %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}"/>
    {% endstylesheets %}
    {{ parent() }}
{% endblock %}