{% extends "EflWebBundle::pagelayout.html.twig" %}
{% set mainClass='product-sheet' %}
{% block content %}
    <div class="wrapper cl">

    <div class="twoCols">
    <!-- item -->
    <article class="articleItem">

    <!-- main -->
    <div class="main">
        {{ render_esi( controller( 'EflWebBundle:Product:leftPart', {'locationId':location.id, 'viewType': viewType } ) ) }}

        <div class="main-content">
            <p class="title9 upper">{{ ez_render_field( parentContent, 'name') }}</p>
            <p class="title5">{{ ez_render_field( content, 'nombre') }}</p>
            <div class="utils cl">
                <span class="reviews-link"><i class="ico ico-star-gray"></i> {% if nValoraciones > 0 %}<a href="#reviews">{% transchoice nValoraciones from "product" %}{1} 1 valoración|]1,Inf] %nValoraciones% valoraciones{% endtranschoice %}</a>{% endif %}</span>
                {% if not haVotado %}
                <a href="{{ path( 'create_review', {'locationId': location.id}) }}" class="link-btn addReview fancybox" data-fancybox-type="iframe">Valora este memento</a>
                {% else %}
                    <span class="link-btn">Ya has revisado este producto</span>
                {% endif %}

                <div class="rrss">
                    <span>Compartir </span>
                    {{ socialButtons() }}
                </div>
            </div>
            {% if viewType == 'full' %}
            <div class="wysiwyg">
                {{ ez_render_field( content, 'entradilla', {'template':'EflWebBundle:fields:only_value.html.twig'} ) }}
                {% if not ez_is_field_empty( content, 'mas_info') %}
                <p class="more"><i class="ico ico-arrow-right-blue"></i> <a href="#more-item">Más detalles sobre el memento</a> <i class="ico ico-arrow-bottom-blue"></i></p>

                <div id="more-item" class="more-detail" style="display: none;">
                    {{ ez_render_field( content, 'mas_info', {'template':'EflWebBundle:fields:only_value.html.twig'} ) }}
                </div>
                {% endif %}

                {% if not ez_is_field_empty( content, 'claim') %}
                <blockquote>
                    <i>"{{ ez_render_field( content, 'claim' ) }}"</i>
                </blockquote>
                {% endif %}
            </div>

            <div class="card">
                <p class="title">Ficha</p>
                <ul>
                    {% if not ez_is_field_empty( content, 'edicion' ) %}
                    <li><b>Edición:</b> {{ ez_render_field( content, 'edicion' ) }}</li>
                    {% endif %}
                    <li><b>Páginas:</b> {{ ez_render_field( content, 'paginas' ) }} <abbr title="aproximadamente">aprox.</abbr></li>
                    {% if not ez_is_field_empty( content, 'fecha_aparicion' ) %}
                    <li><b>Aparición:</b> {{  fecha_aparicion.date|date("d/m/y") }}</li>
                    {% endif %}
                    {% if not ez_is_field_empty( content, 'fecha_aparicion' ) %}
                    <li><b><abbr title="International Standard Book Number">ISBN</abbr>:</b> {{ ez_render_field( content, 'isbn' ) }}</li>
                    {% endif %}
                </ul>
            </div>
            {% elseif viewType == 'preview' %}
                <div class="right back"><i class="ico ico-arrow-left-blue"></i> <a href="{{ path( location ) }}">Volver</a></div>

                <p class="subtitle">Previsualización</p>

                <div class="wysiwyg">
                    {{ ez_render_field( content, 'preview') }}
                </div>

                <div class="right back"><i class="ico ico-arrow-left-blue"></i> <a href="{{ path( location ) }}">Volver</a></div>
            {% elseif viewType == 'summary' %}
                <div class="right back"><i class="ico ico-arrow-left-blue"></i> <a href="{{ path( location ) }}">Volver</a></div>

                <p class="subtitle">Sumario</p>

                <div class="wysiwyg">
                    {{ ez_render_field( content, 'sumario') }}
                </div>

                <div class="right back"><i class="ico ico-arrow-left-blue"></i> <a href="{{ path( location ) }}">Volver</a></div>
            {% endif %}

        </div>
    </div>
    <!-- //main -->

    <!-- aside -->
    <aside class="aside">

        <form action="" method="post" class="">
            <div class="resume">
                <span class="claim">20% más barato</span>
                <ins class="price">{{ ez_render_field( content, 'precio' ) }}</ins>
                <del class="old-price">antes 98,05 &euro;</del>
            </div>

            <table class="tb-formats">
                <caption class="title">Procedimientos Tributarios 2012-2013</caption>

                <thead>
                <tr>
                    <th>Formato</th>
                    <th>Precio</th>
                    <th></th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td class="format">
                        <i class="ico ico-paper-white"></i> <span>En papel</span>
                    </td>
                    <td class="price">
                        <b>72,50 &euro;</b>
                        <small>+ IVA</small>
                    </td>
                    <td>
                        <div class="prettycheck">
                            <input type="checkbox" id="paper" name="format" value="paper" checked="checked" />
                            <label for="paper"></label>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="format">
                        <i class="ico ico-pc-white"></i> <span>En internet</span>
                    </td>
                    <td class="price">
                        <ins><b>72,50 &euro;</b></ins>
                        <small>+ IVA</small>
                        <del>99,70 &euro;</del>
                    </td>
                    <td>
                        <div class="prettycheck">
                            <input type="checkbox" id="pc" name="format" value="pc" />
                            <label for="pc"></label>
                        </div>
                    </td>
                </tr>
                <tr class="text">
                    <td colspan="3" class="wrap-info-text">
                        <span class="info-text">Acceda a su Memento siempre que quiera en Internet, siempre actualizados y conectados entre sí con <a href="#qMementix" class="layer-trigger">qMementix</a>.</span>

                        <div id="qMementix" class="wrap-layer">
                            <i class="ico ico-arrow-top-layer"></i>
                            <div class="layer">
                                <a href="#" class="close" title="Cerrar"><i class="ico ico-close-gray"></i> <span class="offscreen">Cerrar</span></a>
                                <p class="layer-title">qMementix</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adiiscing elit. Ut vel lacus et lectus ornare pota at quis turpis. Praesent vitae tortor nisl. Integer ac quam neque. Aliquam quis me tus vulputate, laoreet velit non, ornare lecs.</p>
                                <p><a href="#" class="layer-link">Más detalles sobre qMementix</a></p>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="format">
                        <i class="ico ico-tablet-white"></i> <span>Para iPad</span>
                    </td>
                    <td class="price">
                        <ins><b>72,50 &euro;</b></ins>
                        <small>+ IVA</small>
                        <del>99,70 &euro;</del>
                    </td>
                    <td>
                        <div class="prettycheck">
                            <input type="checkbox" id="ipad" name="format" value="ipad" />
                            <label for="ipad"></label>
                        </div>
                    </td>
                </tr>
                <tr class="text last">
                    <td colspan="3" class="wrap-info-text">
                        <span class="info-text">Sus Mementos en su iPad, con acceso incluso sin conexión a internet a través de <a href="#iMemento" class="layer-trigger">iMemento</a>.</span>

                        <div id="iMemento" class="wrap-layer">
                            <i class="ico ico-arrow-top-layer"></i>
                            <div class="layer">
                                <a href="#" class="close" title="Cerrar"><i class="ico ico-close-gray"></i> <span class="offscreen">Cerrar</span></a>
                                <p class="layer-title">iMemento</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adiiscing elit. Ut vel lacus et lectus ornare pota at quis turpis. Praesent vitae tortor nisl. Integer ac quam neque. Aliquam quis me tus vulputate, laoreet velit non, ornare lecs.</p>
                                <p><a href="#" class="layer-link">Más detalles sobre iMemento</a></p>
                            </div>
                        </div>
                    </td>
                </tr>

                </tbody>
            </table>

            <div class="wrap-btn">
                <button type="submit" class="btn type2 hasIco"><i class="ico ico-arrow-right-white"></i> Comprar ahora</button>
            </div>

        </form>

        <article class="genericInfo-detail">
            <i class="ico ico-box-gray"></i>
            <div class="cont-text">
                <p class="title">Comprando ahora mismo <br /> <b>lo enviamos gratis</b></p>
            </div>
        </article>


    </aside>
    <!-- //aside -->

    {%  if viewType == 'full' %}
    <div class="main">
        {{ render_esi( controller( 'EflWebBundle:Product:getRelatedProductsByOrders', { 'contentId': location.contentInfo.id } )) }}

    {% if tabsInfo.activeTab != 0 %}
    <article id="reviews" class="product-collateral mod-tabs">
        <p class="title6">Más sobre {{ ez_render_field( content, 'nombre') }}</p>

        <span class="tabs-wrap"></span>

        <div class="tabs-wrap-content">
            {% if tabsInfo.hasTab1 %}
            <p class="tab {% if tabsInfo.activeTab == 1 %}active{% endif %}"><a href="#content-tab-release">Novedades <i class="ico"></i></a></p>

            <div id="content-tab-release" class="tabs-content {% if tabsInfo.activeTab == 1 %}active{% endif %}">
                <div class="utils cl">
                    <span class="reviews-link">Entre otras muchas novedades analizadas en esta nueva edición destacan las que afectan a las siguientes materias:</span>
                </div>
                <article class="release-detail">
                    <div class="wysiwyg">
                        {{ ez_render_field( content, 'novedades') }}
                    </div>
                </article>
            </div>
            {% endif %}

            {% if tabsInfo.sistemaMemento %}
            <p class="tab {% if tabsInfo.activeTab == 2 %}active{% endif %}"><a href="#content-tab-memento">Sistema Memento <i class="ico"></i></a></p>
            <div id="content-tab-memento" class="tabs-content {% if tabsInfo.activeTab == 2 %}active{% endif %}">
                <p class="title10">Sistema Memento</p>
                <article class="release-detail">
                    <div class="wysiwyg">
                        <p class="title9 upper">{{ ez_render_field( tabsInfo.sistemaMemento.content, 'titulo') }}</p>
                        {{ ez_render_field( tabsInfo.sistemaMemento.image, 'image', {
                        'template':'EflWebBundle:fields:portrait_img.html.twig',
                        'parameters': {
                        'alias':'portrait',
                        'attrs': {'class':'portrait-img'}
                        }} ) }}
                        {{ ez_render_field( tabsInfo.sistemaMemento.content, 'texto', {template: 'EflWebBundle:fields:only_value.html.twig'}) }}
                    </div>
                </article>
            </div>
            {% endif %}

            {% if tabsInfo.reviews %}
            <p class="tab {% if tabsInfo.activeTab == 3 %}active{% endif %}"><a href="#content-tab-reviews">Valoración <i class="ico"></i></a></p>
            <div id="content-tab-reviews" class="tabs-content {% if tabsInfo.activeTab == 3 %}active{% endif %}">

                {{ render( controller( 'EflReviewsBundle:Reviews:pager', {'locationId':location.id } )) }}
            {% endif %}

            </div>

        </div>

    </article>
    {% endif %}
    </div>
    {% endif %}
    </article>
    <!-- //item -->

    </div>
    </div>
{% endblock %}


{% block footerScript %}
    {% javascripts
    '@EflWebBundle/Resources/public/js/jquery.fancybox.pack.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {{ parent() }}
    <script  type="text/javascript">
        (function( $ )
        {
            $( document ).ready(function() {
                $(document).on('click', '.pagination a', function(e){
                    e.preventDefault();
                    var aux = $(this).attr('href').split('/');
                    var locationId = aux[2];
                    var page = aux[4] ? aux[4] : 1;
                    loadResults(locationId, page )
                });
            });

            function loadResults(locationId, page)
            {
                $.ajax({
                    url: '/reviews/'+ locationId + '/page/' + page,
                    method: 'POST',
                    success: function(content) {$("#content-tab-reviews").html(content)}
                })
            }
        })(jQuery);
    </script>
{% endblock %}

{% block headStyle %}
    {% stylesheets
    'bundles/eflweb/css/jquery.fancybox.css'
    filter='cssrewrite'
    %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}"/>
    {% endstylesheets %}
    {{ parent() }}
{% endblock %}