{% extends "EflWebBundle::pagelayout.html.twig" %}
{% set mainClass='product-sheet' %}
{% block content %}
    <div class="wrapper cl">

    <div class="twoCols">
    <!-- item -->
    <article class="articleItem">

    <!-- main -->
    <div class="main">
        {{ render_esi( controller( 'EflWebBundle:Product:leftPart', {'locationId':location.id, 'viewType': viewType } ) ) }}

        {{ render_esi( controller( 'EflWebBundle:Product:centerPart', {'locationId':location.id, 'viewType': viewType } ) ) }}
    </div>
    <!-- //main -->

    <!-- aside -->
    <aside class="aside">
        {% if formats is defined %}
            {% form_theme form 'EflBasketBundle:forms:addtobasket.html.twig' %}
            {{ form_start(form, {'attr': {'novalidate':'novalidate' }}) }}


            <div class="resume">
                {% if hasDiscount %}
                    <span class="claim">{{ ez_render_field( content, 'texto_oferta', {'template':'EflWebBundle:fields:only_value.html.twig'}) }}</span>
                {% endif %}


            </div>

        <table class="tb-formats">


            <thead>
            <tr>
                <th>Formato</th>
                <th>Precio</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            {% if not form.vars.valid %}
                <tr>
                    <td colspan="3">{{ form_errors( form.formats ) }}</td>
                </tr>
            {% endif %}
            {% set n = 0 %}
            {% for format in formats %}

                <tr>
                    <td class="format">
                        <i class="ico ico-{{ format.data.icon }}-white"></i> <span>{{ format.data.literal }}</span>
                    </td>
                    <td class="price">
                        {{ render(controller("EflWebBundle:Price:showPrice", {'contentId': format.content.id,
                        'twigTemplate': format.data.icon == 'paper' ? 'editorial' : 'product_format'} )) }}
                    </td>
                    <td>
                        {{ form_widget(form.formats[n] ) }}
                    </td>
                </tr>


                    {% if format.data.icon == 'pc' %}
                    <tr class="text">
                        <td colspan="3" class="wrap-info-text">
                            <div class="info-text">
                                <span class="info-text">Acceda a su Memento siempre que quiera en Internet, siempre actualizados y conectados entre sí con <a href="#qMementix" class="layer-trigger">qMementix</a>.</span>
                            </div>
                            <div id="qMementix" class="wrap-layer">
                                <i class="ico ico-arrow-top-layer"></i>
                                <div class="layer">
                                    <a href="#" class="close" title="Cerrar"><i class="ico ico-close-gray"></i> <span class="offscreen">Cerrar</span></a>
                                    <p class="layer-title">qMementix</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adiiscing elit. Ut vel lacus et lectus ornare pota at quis turpis. Praesent vitae tortor nisl. Integer ac quam neque. Aliquam quis me tus vulputate, laoreet velit non, ornare lecs.</p>

                                    <p><a href="{{ path('qmementix') }}">Más detalles sobre qMementix</a></p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% elseif format.data.icon == 'tablet' %}
                        <tr class="text">
                            <td colspan="3" class="wrap-info-text">
                                <div class="info-text">
                                    <span class="info-text">Sus Mementos en su iPad, con acceso incluso sin conexión a internet a través de <a href="#iMemento" class="layer-trigger">iMemento</a>.</span>
                                </div>
                                <div id="iMemento" class="wrap-layer">
                                    <i class="ico ico-arrow-top-layer"></i>
                                    <div class="layer">
                                        <a href="#" class="close" title="Cerrar"><i class="ico ico-close-gray"></i> <span class="offscreen">Cerrar</span></a>
                                        <p class="layer-title">iMemento</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adiiscing elit. Ut vel lacus et lectus ornare pota at quis turpis. Praesent vitae tortor nisl. Integer ac quam neque. Aliquam quis me tus vulputate, laoreet velit non, ornare lecs.</p>
                                        <p><a href="{{ path('imemento') }}" class="layer-link">Más detalles sobre iMemento</a></p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endif %}

                {% set n = n +1 %}
            {% endfor %}


            </tbody>
        </table>


            {{ form_widget( form.buy ) }}


        {{ form_end( form) }}

        <article class="genericInfo-detail">
            <i class="ico ico-box-gray"></i>
            <div class="cont-text">
                <p class="title">Comprando ahora mismo <br /> <b>lo enviamos gratis</b></p>
            </div>
        </article>
        {% endif %}
    </aside>
    <!-- //aside -->

    {%  if viewType == 'full' %}
        {{ render_esi( controller( 'EflWebBundle:Product:downPart', {'locationId':location.id, 'viewType': viewType } ) ) }}
    {% endif %}
    </article>
    <!-- //item -->

    </div>
    </div>
{% endblock %}


{% block footerScript %}
    {% javascripts
    '@EflWebBundle/Resources/public/js/jquery.fancybox.pack.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {{ parent() }}
    <script  type="text/javascript">
        (function( $ )
        {
            $( document ).ready(function() {
                $(document).on('click', '.pagination a', function(e){
                    e.preventDefault();
                    var aux = $(this).attr('href').split('/');
                    var locationId = aux[2];
                    var page = aux[4] ? aux[4] : 1;
                    loadResults(locationId, page )
                });

            });

            function loadResults(locationId, page)
            {
                $.ajax({
                    url: '/reviews/'+ locationId + '/page/' + page,
                    method: 'POST',
                    success: function(content) {$("#content-tab-reviews").html(content)}
                })
            }
        })(jQuery);
    </script>
{% endblock %}

{% block headStyle %}
    {% stylesheets
    'bundles/eflweb/css/jquery.fancybox.css'
    filter='cssrewrite'
    %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}"/>
    {% endstylesheets %}
    {{ parent() }}
{% endblock %}