{% extends "EflWebBundle::pagelayout.html.twig" %}
{% set mainClass = 'catalog' %}
{% block content %}
<div class="wrapper cl">

<div class="oneCol">
    <div class="main">

        <article class="highlight cl">
            <div class="content">
                <p class="super-title">Catálogo de Publicaciones</p>
            </div>
        </article>

    </div>
</div>

<div class="twoColsC">

<!-- aside -->
<aside class="aside">

    <section class="filter">
        {% form_theme form 'EflWebBundle:forms/catalog:filters.html.twig' %}
        {{ form_start(form, {'attr': {'novalidate':'novalidate', 'class': 'frm frm-filter' }}) }}
            <fieldset>
                <legend class="title7">A continuación puede filtrar los resultados</legend>
            </fieldset>

            {{ form_row( form.areas ) }}


            {{ form_row( form.types ) }}

            {{ form_row( form.states ) }}

            {{ form_row( form.formats ) }}


            <label for="order" class="field row-item lbl-order">
                <span class="lbl upper"><b>Ordenar</b></span>
                <select id="order" name="order" class="order">
                    <option value="Las más nuevas primero" id="order-opt1">Las más nuevas primero</option>
                    <option value="Las más antiguas primero" id="order-opt2">Las más antiguas primero</option>
                </select>
            </label>

           {{ form_row( form.search ) }}

        {{ form_end(form) }}
    </section>

</aside>
<!-- //aside -->

<!-- main -->
<div class="main" id="searchResults">
    <div class="wrap-title">
        <p class="title3">Catálogo</p>
    </div>
    <article class="related-items cl">
        {% if pager|length() > 0 %}
            {% for product in pager %}
                {{ render_esi( controller( 'ez_content:viewLocation', {'locationId': product.contentInfo.mainLocationId, 'viewType': 'line'  } ) ) }}
            {% endfor %}
        {% else %}
            No se han encontrado resultados
        {% endif %}



    </article>

    <div class="right">
        {% if pager.haveToPaginate() %}
            {{ pagerfanta( pager, 'efl',
            {
            'routeName': 'catalog_search', 'routeParams' : { 'page': page },
            'prev_message': '&lt;',
            'next_message': '&gt;'

            } ) }}
        {% endif %}
    </div>

</div>
<!-- //main -->


</div>


</div>
{% endblock %}

{% block footerScript %}
    {{ parent() }}
    <script  type="text/javascript">
        (function( $ )
        {
            $( document ).ready(function() {
                $(document).on('click', '.pagination a', function(e){
                    e.preventDefault();
                    loadResults( $(this).attr('href'))
                });

            });

            function loadResults(route, page)
            {
                $.ajax({
                    url: route,
                    method: 'GET',
                    success: function(content) {$("#searchResults").html(content)}
                })
            }
        })(jQuery);
    </script>
{% endblock %}