<article class="item">
    {% if not ez_is_field_empty( product.image, 'image') %}
        <div class="portrait">
            {{ ez_render_field( product.image, 'image', {
            'template':'EflWebBundle:fields:portrait_img.html.twig',
            'parameters': {
            'alias':'relatedByOrders',
            'attrs': {'class':'portrait-img'}
            }
            }) }}
        </div>
    {% endif %}

    <div class="content cl">
        {% if formats|length %}
        <ul class="format">
            {% for format in formats %}
            <li><i class="ico ico-{{ format.data.icon }}-white"></i> <span class="offscreen">{{ format.data.literal }}</span></li>
            {% endfor %}
        </ul>
        {% endif %}

        <p class="title9 upper">{{ ez_render_field(product.parent, 'name') }}</p>
        <p class="item-title">{{ ez_render_field( product.content, 'nombre' ) }}</p>
        {% if not ez_is_field_empty( product.content, 'texto_oferta') %}
            <p class="item-claim">{{ ez_render_field(product.content, 'texto_oferta') }}</p>
        {% endif %}
        {% if ez_is_field_empty( product.content, 'precio_oferta' )%}
            <span class="price">
                <b>{{ ez_render_field( product.content, 'precio') }}</b>
                <small>+ IVA</small>
            </span>
        {% else %}
            <del class="old-price">
                <b>{{ ez_render_field( product.content, 'precio') }}</b>
                <small>+ IVA</small>
            </del>
            <ins class="price">
                <b>{{ ez_render_field( product.content, 'precio_oferta') }}</b>
                <small>+ IVA</small>
            </ins>
        {% endif %}
    </div>

    <div class="actions-item">
        <span class="btn">
            <a href="{{ path( 'ez_urlalias', {'locationId': product.content.contentInfo.mainLocationId} ) }}">Añadir</a>
        </span>
    </div>

</article>